{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "apha-incubator-maps-poc"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p>This is a proof of concept for the APHA Incubator to evaluate the <a href="https://github.com/DEFRA/interactive-map">Defra Interactive Map</a> component — an accessibility-first interactive map component for government frontends.</p>
        <p><a href="/map" class="govuk-link">View the interactive map</a></p>
      </div>
    </div>
  </div>

{% endblock %}
